:root{
    --arca-red: #DF1D2A;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

main{
    flex: 1;
}

.deadpool-font{
    font-family: 'CCSchadenfreude';
}

.hidden{
    display: none;
}

